{% extends "ADBMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="freeform">Sample neo4j Query №3</label>
        <br>
        <textarea id="freeform" name="freeform" rows="6" cols="85">
            match (:SUPPLIER {sname:"品冠行銷股份有限公司"}) -[:PROVIDE]->(p:PRODUCT)<-[conn:CONNECT]-(:PRG)<-[ct:CONTAIN]-(:RG)
return p, count(ct) as degree
ORDER BY degree DESC
LIMIT 1
            </textarea>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="show()" id="btnID">
                Run
            </button>
            <!-- Add id to image -->
            <img id="graph" style="display:none;" src="../../static/img/neo4j_3.png"/>
        </div>

        <script>
            function show() {
                document.getElementById('graph').style.display = "block";
                document.getElementById('btnID').style.display = "none";
            }
        </script>
    </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Query description</h3>
            <div>
                <p>With this query, it will output a table with the bestseller product name and its degree (table GT3).
                    We can check the result in figure G5, the blue circle highlight the best seller (味丹
                    <多喝水>礦泉水 5800cc (2瓶/箱)) and it connects to 24 RG nodes (pink nodes) which is consistent with
                        the degree=24 in table GT3. We can also easily check out that it is the node connected to the
                        most number of RG nodes.
                </p>
            </div>
            </p>
        </div>
    </div>
{% endblock %}