{% extends "ADBMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="freeform">Sample neo4j Query №2</label>
        <br>
        <textarea id="freeform" name="freeform" rows="6" cols="85">
            MATCH (s:SUPPLIER)-[:PROVIDE]->(:PRODUCT)-[t:BELONG] -(c:CATEGORY)
    return s.sname AS name, collect(DISTINCT c.class_name) AS sells
            </textarea>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="show()" id="btnID">
                Run
            </button>
            <div style="display:none;" id="table">
                <table border="1" class="dataframe">
                    <thead>
                    <tr style="text-align: right;">
                        <th></th>
                        <th>name</th>
                        <th>sells</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>0</th>
                        <td>台灣奇士美化粧品股份有限公司</td>
                        <td>[]</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>雅麗仙國際有限公司</td>
                        <td>[]</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>上鈴股份有限公司</td>
                        <td>[]</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>廣英有限公司</td>
                        <td>[]</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>元陞國際有限公司</td>
                        <td>[]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function show() {
                document.getElementById('table').style.display = "block";
                document.getElementById('btnID').style.display = "none";
            }
        </script>
    </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Query description</h3>
            <div>
                <p>Query 4 represents what type of products the supplier sells. This helps the users better
                    understand what type of products a supplier provides. Collect() is to aggregate the category types
                    together and DISTINCT ensures that there aren’t duplicate values when looking at a table.
                </p>
            </div>
            </p>
        </div>
    </div>
{% endblock %}