{% extends "ADBMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="freeform">Sample neo4j Query №1</label>
        <br>
        <textarea id="freeform" name="freeform" rows="6" cols="85">
                MATCH path = (uu:USER)-[h:HAVING]->(rg:RG)-[ct:CONTAIN]->(prg:PRG)-[conn:CONNECT]->(p:PRODUCT)<-[prov:PROVIDE]-(ss:SUPPLIER {sname:"品冠行銷股份有限公司"})
return count(path) AS CT, uu
ORDER BY CT DESC
LIMIT 3
        </textarea>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="show()" id="btnID">
                Run
            </button>
            <!-- Add id to image -->
            <img id="graph" style="display:none;" src="../../static/img/neo4j_1.png"/>
        </div>

        <script>
            function show() {
                document.getElementById('graph').style.display = "block";
                document.getElementById('btnID').style.display = "none";
            }
        </script>
    </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Query description</h3>
            <div>
                <p>With query 1, we can find out the top n important customers as loyal members for a supplier. The
                    general idea is to find out the customer node having the most path to the supplier, which implies
                    the customer has bought the most items from the supplier.
                    In the query process, first, we need to provide the supplier name and a number N (find top N).
                </p>
            </div>
            </p>
        </div>
    </div>
{% endblock %}