{% extends "ADBMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="freeform">Sample neo4j Query №2</label>
        <br>
        <textarea id="freeform" name="freeform" rows="6" cols="85">
            MATCH (c:CATEGORY {class:"7308"})<-[b:BELONG]-(p:PRODUCT)<-[:PROVIDE]-(:SUPPLIER {sname:"品冠行銷股份有限公司"})
RETURN c,b,p
            </textarea>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="show()" id="btnID">
                Run
            </button>
            <!-- Add id to image -->
            <img id="graph" style="display:none;" src="../../static/img/neo4j_2.png"/>
        </div>

        <script>
            function show() {
                document.getElementById('graph').style.display = "block";
                document.getElementById('btnID').style.display = "none";
            }
        </script>
    </form>
    </div>
{% endblock %}